@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 10rem">
    <p><h1 class="display-4">Welcome to</h1> </p>
    <p> <h1 class="cursive-text" style="font-size: 5rem">ReFresh My Style</h1></p>
</div>
<div class="row">
    <div class="col col-sm-6" style="text-align: right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
            <button type="button" class="btn btn-outline-warning btn-event">
                Register
            </button>
        </a>
    </div>
    <div class="col col-sm-6">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
            <button type="button" class="btn btn-outline-warning btn-event">
                Login
            </button>
        </a>
    </div>
</div>