@model RefreshMyStyleApp.Models.Image

@{
    ViewData["Title"] = "PostNewImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PostImage</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-controller="Images"
                  asp-action="PostNewImage">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload profile picture:</p>
                        <input asp-for="ImageFile" type="file" name="files" accept="image/*" multiple />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

