@model RefreshMyStyleApp.Models.Event

@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> states = (List<string>)ViewData["states"];
}
<nav class="navbar navbar-expand-lg navbar-light nav-hover">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item" style="color: white">
                    <a class="nav-link" style="color: white" asp-action="Index">
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container1">
    <h1>Create An Event</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateEvent" asp-controller="ApplicationUsers">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="EventDate" class="control-label"></label>
                    <input asp-for="EventDate" class="form-control" />
                    <span asp-validation-for="EventDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventTitle" class="control-label"></label>
                    <input asp-for="EventTitle" class="form-control" />
                    <span asp-validation-for="EventTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <Select asp-for="State" class="form-control" asp-items="new SelectList(states)"></Select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Zipcode" class="control-label"></label>
                    <Input asp-for="Zipcode" class="form-control" />
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-warning btn-event" />
                </div>
            </form>
        </div>
    </div>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@

</div>