@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "GetLikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light nav-hover">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" style="color: white">
                <a class="nav-link" style="color: white" asp-action="Index">
                    Home
                </a>
            </li>
            <li class="nav-item" style="color: white">
                <a class="nav-link" style="color: white" asp-action="SearchUsers" asp-controller="ApplicationUsers">
                    Search Users
                </a>
            </li>

        </ul>
    </div>


</nav>
<div class="container1">
    <h1 style="text-align: center">My Likes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(m => m.Like.DateLiked)*@
                    Date
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Image)*@
                    Clothing Item
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.AppUserNotLoggedIn.FullName)*@
                    Contact
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var like in Model.Likes)
            {
                <tr>

                    <td>
                        @like.DateLiked
                    </td>
                    <td>
                        <p style="text-align: center">
                            <img src="~/images/items/@like.ImageFilePath" height="100" width="80" />
                        </p>
                    </td>

                    <td>
                        @like.LikedImageOwnerFullName
                    </td>
                    <td>
                        <p>
                            <a asp-action="Details" asp-route-id="@like.LikedImageOwnerId">
                                <button type="button" class="btn btn-outline-warning btn-event">
                                    Details
                                </button>
                            </a>
                        </p>
                        <p>
                            <a asp-action="DeleteLikedImage" asp-route-id="@like.Id">
                                <button type="button" class="btn btn-outline-warning btn-event">
                                    Delete
                                </button>
                            </a>

                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>