@model RefreshMyStyleApp.Models.ApplicationUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "UploadProfileFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Upload A Selfie!</h1>


<hr />
<div class="row" style="padding-top: 5rem">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="ApplicationUsers"
              asp-action="UploadProfileFiles">
            <div class="form-group">
                <div class="col-md-10">
                   
                    <input asp-for="ProfileImage" type="file" name="files" accept="image/*" multiple />
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="btn btn-outline-warning btn-event" />
                </div>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

