body {
    background-color: #f8dc81;
    color: #214151;
    font-family: 'Marmelad', sans-serif;
 /*   font-family: 'Merriweather', serif;*/
   /* font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Sansita', sans-serif;*/
}

.btn-outline-warning {
    color: #ffffff;
    border-color: #a2d0c1;
    background-color: #a2d0c1;
    border-width: thin;
    margin-top: 1rem;
}

    .btn-outline-warning:hover {
        color: #ffffff;
        background-color: #214151;
        border-color: #eff7e1;
    }

.accordion-header {
    background-color: #eff7e1;
}

.accordion-body {
    background-color: #eff7e1;
}

.toggle-btn{
    margin-top: .03rem;
    margin-bottom: .05rem;
}

.tiny-text{
    font-size: .7em;
} 

