body {
    background-color: #f8dc81;
    color: #214151;
    font-family: 'Marmelad', sans-serif;
 /*   font-family: 'Merriweather', serif;*/
   /* font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Sansita', sans-serif;*/
}

.btn-outline-warning {
    color: #ffffff;
    border-color: #a2d0c1;
    background-color: #a2d0c1;
    border-width: thin;
    margin-top: 1rem;
}

    .btn-outline-warning:hover {
        color: #ffffff;
        background-color: #214151;
        border-color: #eff7e1;
    }

.accordion-header {
    background-color: #eff7e1;
}

.accordion-body {
    background-color: #eff7e1;
}

.toggle-btn{
   /* margin-top: .03rem;
    margin-bottom: .05rem;*/
}

.tiny-text{
    font-size: .7em;
}

.cursive-text {
    font-family: 'Berkshire Swash', cursive;
   /* font-family: 'Great Vibes', cursive;
    font-family: 'Pacifico', cursive;*/
   font-size: xx-large;
   color: #214151;
   
}

.navbar a:hover form:hover {
    color: #214151;
    background-color: #f8dc81;
}

.navbar{
    background-color: #a2d0c1;
    width: auto; 
}

.img-container {
    text-align: center;
    background-color: #eff7e1;
}

.index-body-container {
    margin: 1rem;

}

.reg-container{
    margin: 2rem;
}

.post-container {
    background-color: #eff7e1;
    padding: 3%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 1em;
}
.comment-container {
    /*padding: 2%;*/
}

.index-body-container a {
    text-decoration: none;
    color: #214151;
}

.comment-box{
    margin: 2%;
}

.comment-content {
    background-color: #f8dc81;
    border-radius: 1em;
    padding: 2%;
    /*    border-radius: 2%;*/

}

.index-body-container button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*border is optional*/
    /* border-bottom: 1px solid #444;*/
}

.postbox {
}

.postContent {
    background-color: #fbeeac;
    border-radius: 1em;
    padding: 2%;
}


.post_delete{
    margin: 0;
  
}